@import url('https://fonts.googleapis.com/css?family=Arizonia');
.App {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.Offline-Banner {
  background:  red;
  color: #fff;
  padding: 5px;
  display: flex;
  width: 100%;
  font-size: 16px;
}

.App__Logo {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.App__Logo a {
  font-family: Arizonia, sans-serif;
  font-size: 60px;
  color: #fff;
  text-decoration: none;
  text-shadow: 3px 3px 6px #000;
}

@media screen and (min-width: 600px) {
  .App__Logo a {
    font-size: 80px
  }
}