.PuzzleContainer {
    position: relative;
    margin: 0 auto;
    background-color: #000000;
    background-image: linear-gradient(90deg, rgba(152, 90, 21,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(152, 90, 21,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(152, 90, 21,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(152, 90, 21,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
    border-radius: 5px;
    padding: 0px 20px 20px;
    margin: 0 16px;
    width: auto;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 769px) {
    .PuzzleContainer {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
}

.Results {
    font-size: 20px;
    padding: 10px 5px 10px 10px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.Results__Correct {
    display: flex;
    padding-right: 10px;
}

.Results__Incorrect {
    display: flex
}

.Results__Count {
    width: 25px;
    text-align: center;
}

.Results__Symbol--Correct {
    color: #8BC34A;
}

.Results__Symbol--Incorrect{
    color: #E91E63;
}

.Next_btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #fff;
    font-size: 20px;
    padding: 10px 10px 10px 20px;
    text-transform: capitalize;   
}